- search:
    provider: google
    target: _blank

- datetime:
    text_size: xl
    format:
      timeStyle: short
      dateStyle: long

- resources:
    label: Sistema
    cpu: true
    memory: true
    disk: /
